*{
   margin:0%;
   padding:0%;
   box-sizing: border-box;
}

html,body{
   height: 100%;
   width: 100%;
   font-family: "Neuzeit Office", sans-serif;

}

#strip {
    height: 46.25px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    text-align: center;
    position: relative;
}

#strip p {
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 400;
}

#strip span {
    font-weight: 600;
}

nav {
    height: 78.75px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    top: 0;
}

#logo {
    flex: 1;
    display: flex;
    align-items: center;
}

#logo img {
    max-height: 50px;
    padding-left: 20px;
}

#links {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#links ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

#links ul li {
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    padding: 10px 15px;
}

#links ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

#links ul li:after {
    content: '';
    width: 0;
    height: 3px;
    background: #2192ff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    transition: 0.4s;
}

#links ul li:hover::after {
    width: 100%;
}

#links ul li a:hover {
    color: #2192ff;
    transition: 0.3s ease-in-out;
}

#icon {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
    font-size: 24px;
    color: black;
}

#icon i {
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}

#icon i:hover {
    color: rgb(83, 125, 202);
}

#fakeheader{
    height: 125px;
    background-color: rgb(159, 20, 20);
}
#carousals{
    height: 530px;
    width: 100%;
    background-color: rgb(103, 18, 18);
}
#carousals img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#buttons{
    
}