<footer>
    <div id="panel">
        <div id="customercare">
            <h4>Customer Care</h4>
            <a href="#">Search</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Returns and Refunds</a>
            <a href="#">Help promote sustainable fashion. Become a People Tree affiliate partner.</a>
            <a href="/terms">Terms and Conditions</a>
            <a href="#">Legal Notice</a>
        </div>
        <div id="social">
            <h4>Social</h4>
            <p>Stay current with updates from our social channels.</p>
            <div id="social_icons">
                <a href="#">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="#">
                    <i class="ri-facebook-fill"></i>
                </a>
                <a href="#">
                    <i class="ri-twitter-line"></i>
                </a>
                <a href="#">
                    <i class="ri-youtube-line"></i>
                </a>
            </div>
        </div>
        <div id="newsletter">
            <h4>Newsletter</h4>
            <p>
                Subscribe now to receive latest news, exclusive offers & early access to our sales - and get 10% off your first order!
                <br>
                <br>
                Submit, then check your email to confirm & receive your discount code.
                <br>
                <br>
                We never sell or share your details.
                <br>
            </p>
            <input type="text" placeholder="First name" id="input-box">
            <br>
            <br>
            <input type="email" placeholder="email@newsletter.com" id="email-input">
            <button type="submit" id="join-button">JOIN</button>
        </div>
    </div>
    <div id="footer_menu"></div>
</footer>
