<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
        <div class="admin-container">
        <div class="box">
            <div class="login">
                <div class="loginBx">
                    <h2>
                        <i class="fa-solid fa-right-to-bracket"></i>
                            User Login
                    </h2>
                        <form class="inputBx" action="/user/login" method="POST">
                            <% if (typeof message !== 'undefined' && message) { %>
                            <div class="error-msg"><%= message %></div>
                        <% } %>
                            <input name="email" type="email" placeholder="Email" required autocomplete="email">
                            <input name="password" type="password" placeholder="Password" required autocomplete="current-password">
                        <input type="submit" value="Login">
                    </form>
                    <div class="group">
                            <a href="/user/signup">User Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
